---
name: Build Pex executables
on:
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/common
      - name: Build the Pex executables
        run: pdm pex-build
      - name: Export the Pex executables
        uses: actions/upload-artifact@v5
        with:
          name: pex
          path: dist/
