[project]
name = "{{ package_name }}"
authors = [{ name = "{{ author_name }}", email = "{{ author_email }}" }]
description = "{{ project_name }}"
readme = "README.md"
requires-python = ">=3.14,<3.15"
license = { text = "MIT" }
keywords = []
version = "0.0.1"
classifiers = [
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.14",
]
dependencies = [
    "Click==8.3.2",
    "loguru==0.7.3",
]

[build-system]
requires = ["uv_build>=0.10.8,<0.11"]
build-backend = "uv_build"


[project.urls]
Homepage = "{{ repository_url }}"
Documentation = "{{ repository_url }}/wiki"
Repository = "{{ repository_url }}"
Issues = "{{ repository_url }}/issues"

[project.scripts]
{{ package_name }} = "{{ package_name }}.cli:main"

[tool.coverage.run]
branch = true
source = ["{{ package_name }}"]
parallel = true

[tool.coverage.paths]
source = ["src/"]

[tool.ruff]
line-length = 100

[tool.ruff.format]
docstring-code-format = true

[tool.ruff.lint]
select = [
    "ERA",   # eradicate
    "ASYNC", # flake8-async
    "S",     # flake8-bandit
    "B",     # flake8-bugbear
    "A",     # flake8-builtins
    "C4",    # flake8-comprehensions
    "DTZ",   # flake8-datetimez
    "RET",   # flake8-return
    "PTH",   # flake8-use-pathlib
    "FLY",   # flynt
    "I",     # isort
    "E",     # pycodestyle
    "D",     # pydocstyle
    "UP",    # pyupgrqde
    "F",     # pyflakes
    "RUF",   # ruff
    "TRY",   # tryceratops
]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
"tests/*" = ["S101", "D"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.isort]
known-first-party = ["{{ package_name }}"]

[dependency-groups]
dev = [
    "copier==9.14.3",
    "coverage==7.13.5",
    "pre-commit==4.5.1",
    "pyclean==3.6.0",
    "pytest==9.0.3",
    "rope==1.14.0",
    "ruff==0.15.9",
    "toml==0.10.2",
    "ty==0.0.29",
]
